# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# ==========================
# Data
# ==========================
data/raw/*.csv
data/processed/*.csv

# Model artifacts
*.pkl
*.joblib

# Logs
*.log